body{
    background-attachment:  fixed center ;
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100% ;
    background-color:rgb(24, 48, 84); 

    
}


.condominio{
    background-color: rgb(225, 225, 99);
    font-size: 115%;
    color:white;
    vertical-align: middle;
    padding-bottom: 0;
    padding-top:15px;
    filter: opacity(80%);
    
}

.condominio2{
    background-color: rgb(24, 48, 84); 
    font-size: 115%;
    color:white;
    vertical-align: middle;
    padding-bottom: 0;
    padding-top:15px;
    filter: opacity(80%);
}

p{
    font-family: 'Roboto', sans-serif;
    
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em
}
h1{
    font-size: bold;
}

.textoprincipal{
    color: rgb(225, 225, 99);
    filter: unset;
    
}


.textocondo{
    
    filter: opacity(100%);
    font-size: large;
}

.textocondo2{
    font-size: large;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

.conteudo{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.footer{
    padding: 5%;
    color:white;
    text-align: center;
}

a{
    color:white;
}

a:hover{
    color:white;
    font-style: unset;
}

